body {
  font-family: sans-serif;
}

input[type='checkbox'],
input[type='checkbox']:focus,
input[type='checkbox']:active,
a, a:focus, a:active {
  outline: none;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

thead tr {
  background-color: #acd5f3;
}

th {
  border-top: 1px solid black;
}

th, td {
  padding: 4px 10px;
  border-bottom: 1px solid black;
}

tr.even {
  background-color: #ebf5fc;
}

.center {
  text-align: center;
}

#noData {
  display: none;
}
